{% extends "_base.html" %}
{% block title %}About the Project{% endblock %}
{% block content %}
<header>
	<h1>About</h1>
</header>
<section>
	
	<div class="row">
		<div class="span11 offset1">
			<h1>The Project</h1>
			<p>Insert stuff about the project here.</p>
		</div>
	</div>
	<hr/>
	
	<div class="row">
		<div class="span11 offset1">
			<h1>The Team</h1>
			<p>All the single ladies, all the single ladies, all the single ladies, put your hands up, up!<br/>
			And if you like it then you shoulda put a ring on it, and if you like it then you shoulda put a ring on it<br/>
			OH Oh oh, ooo oh Oh OH, OH Oh oh!
			</p>
		</div>
	</div>
</section>
{% endblock %}