{% extends "_base.html" %}
{% block head %}<title>About the Project</title>{% endblock %}
{% block body %}
<div class="container">
	<header>
		<h1>About</h1>
	</header>
	<section>
		<h1>The Project</h1>
		<div class="row">
			<div class="span12">
				<p>
					The World Crisis Database was started as a school assignment at the University of Texas for the class CS 373: Software Engineering.
					The final project of the class, it appropriately utilizes a wide variety technologies 
					(ranging from Python and Google App Engine, to XML and HTML), and stresses the importance of good teamwork (and good version control software).
					<br/><br/>
					In actuality, this project is assigned every semester the class is offered, so there are a bunch of these databases floating around in Google's appspot domain.
					<br/><br/>
					However, in our incredibly biased opinion, ours is most certainly the best :P
				</p>
			</div>
		</div>
		<hr/>
		
		<div class="row">
			<div class="span12">
				<h1>The Team</h1>
				<div class="centered-outer">
					<div class="centered-inner">
						<blockquote style="text-align: left;">
							<p>
								All the single ladies, all the single ladies<br/>
								All the single ladies, all the single ladies<br/>
								All the single ladies, all the single ladies<br/>
								All the single ladies
							</p>
							<small>Beyonc&#233; Knowles</small>
						</blockquote>
					</div>
				</div>
				<br/>
				<p>
					We are Robert Reed, Ian Buitrago, Ross Shwarts, Fayz Rahman, and Jacob Wilke. 
					<br/>We call ourselves<em> All the Single Ladies</em>.
				</p>
			</div>
		</div>
	</section>
</div>
{% endblock %}