{% extends "_base.html" %}
{% block head %}<title>Crises</title>{% endblock %}
{% block body %}
<div class="container">
	<header>
		<h1>Crises <small>Around the world</small></h1>
	</header>
	<section id="featuredCrises">
		<ul class="thumbnails">
			{% for crisis in crises_list %}
			<li class="span3">
				<a href="/entry?name={{ crisis.name }}" class="thumbnail">
					<img src="{{ crisis.reflink.primaryImage.url }}" alt="">
				</a>
			</li>
			{% endfor %}
		</ul>
	</section>
	<section id="crisesList">
		<h1>All Entries</h1>
		<ul class="entries">
			{% for crisis in crises_list %}
				<li>
					<a href="/entry?name={{ crisis.name }}">
						<h1>{{ crisis.name }}
							<small> {{crisis.crisisinfo.location.city}}, {{crisis.crisisinfo.location.region}}, {{crisis.crisisinfo.location.country}}</small>
						</h1>
						<span>{{crisis.crisisinfo.ctype}}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</section>
</div>
{% endblock %}