{% extends "_base.html" %}
{% block head %}
	<title>Import</title>
	<link href="static/misc/prettify.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div class="container">
	<header>
		<h1>Import <small>Data into the database</small></h1>
	</header>
	<section>
		<h1>How to Import</h1>
		<div class="row">
			<div class="span4">
				<p>Click the button to the side, find your xml file, and hit 'Import'! 
				We'll do a validation check to see if your xml file conforms to our schema. 
				If anything goes wrong, you'll see an error. Otherwise, you're good!</p>
			</div>
			<div class="span4">
				<div class="well">
					<form action="/import" enctype="multipart/form-data" method="post">
						<div class="fileinputs">
							<input type="file" name="file" />
						</div>
						<br/>
						<input class="pull-right" type="submit" value="Import" />
					</form>
				</div>
			</div>
			<div class="span4">
				{% if status %}
					{% ifequal status "success" %}
						<div class="alert alert-block alert-success">
						<h4>Success!</h4>
							Your XML has validated, and is now a part of the database!
						</div>
					{% endifequal %}
					{% ifequal status "error" %}
						<div class="alert alert-block alert-error">
						<h4>Error!</h4>
						{{ message }}
						</div>
					{% endifequal %}
				{% else %}
					<div class="alert alert-block alert-info">
					<h4>Note</h4>
					Watch this space&mdash;if anything goes wrong, you'll see an alert here!
					</div>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<h1>But Before You Import...</h1>
				<p>It's important to ensure that your data, in XML form, conforms to our XSD schema. 
				We have an example XML file below, with more commentary and details to the side.
				However, if you want to see our precise schema, you can find it <a href="#">here</a>. Be warned though, it's kind of hard to read.</p>
			</div>
		</div>
		<div class="row">
			<div class="span6"/>
				<p>
					<pre class="prettyprint linenums">
&lt;worldCrises&gt;
    &lt;crisis id="id_name"&gt;
        &lt;name&gt;
        &lt;info&gt;
            &lt;history&gt;...&lt;/history&gt;
            &lt;help&gt;...&lt;/help&gt;
            &lt;resources&gt;...&lt;/resources&gt;
            &lt;type&gt;...&lt;/type&gt;
            &lt;time&gt;
                &lt;time&gt;...&lt;/time&gt;
                &lt;day&gt;...&lt;/day&gt;
                &lt;month&gt;...&lt;/month&gt;
                &lt;year&gt;...&lt;/year&gt;
                &lt;misc&gt;...&lt;/misc&gt;
            &lt;/time&gt;
            &lt;loc&gt;
                &lt;city&gt;...&lt;/city&gt;
                &lt;region&gt;...&lt;region&gt;
                &lt;country&gt;...&lt;country&gt;
            &lt;/loc&gt;
            &lt;impact&gt;
                &lt;human&gt;
                    &lt;deaths&gt;...&lt;/deaths&gt;
                    &lt;displaced&gt;...&lt;/displaced&gt;
                    &lt;injured&gt;...&lt;/injured&gt;
                    &lt;missing&gt;...&lt;/missing&gt;
                    &lt;misc&gt;...&lt;misc&gt;
                &lt;/human&gt;
                &lt;economic&gt;
                    &lt;amount&gt;...&lt;/amount&gt;
                    &lt;currency&gt;...&lt;/currency&gt;
                    &lt;misc&gt;...&lt;misc&gt;
                &lt;/economic&gt;
            &lt;/impact&gt;
        &lt;/info&gt;
    &lt;/crisis&gt;
&lt;/worldCrises&gt;</pre>
				</p>
			</div>
			<div class="span6"/>
				<h2>Crisis Tag</h2>
				<p>To describe a crisis, start off with a <code>&lt;crisis&gt;</code> tag. 
				Follow up with a <code>&lt;name&gt;</code> tag to specify the name of the crisis. Then insert an <code>&lt;info&gt;</code>tag.
				These tags <em>must</em> contain the following subtags:
					<ul>
						<li><code>&lt;history&gt;</code> - a background of the history of the crisis. (string, up to 500 characters)</li>
						<li><code>&lt;help&gt;</code> - all the various ways to help. (string, up to 500 characters)</li>
						<li><code>&lt;resources&gt;</code> - what resources are needed? (string, up to 500 characters)</li>
						<!--<li><code>&lt;&gt;</code></li>-->
					</ul>
				</p>
			</div>
		</div>
	</section>
</div>
<script type="text/javascript" src="static/misc/prettify.js"></script>
<script>
	$(window).load(prettyPrint()) 
</script>
{% endblock %}