{% extends "_base.html" %}
{% block head %}
	<title>Import</title>
	<link href="static/misc/prettify.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block body %}
<div class="container">
	<header>
		<h1>Import <small>Data into the database</small></h1>
	</header>
	<section>
		<h1>How to Import</h1>
		<div class="row">
			<div class="span4">
				<p>Click the button to the side, find your xml file, and hit 'Import'! 
				We'll do a validation check to see if your xml file conforms to our schema. 
				If anything goes wrong, you'll see an error. Otherwise, you're good!</p>
			</div>
			<div class="span4">
				<div class="well">
					<form action="/import" enctype="multipart/form-data" method="post">
						<div class="fileinputs">
							<input type="file" name="data" />
						</div>
						<br/>
						<input name="mergebox" class="pull-left" type="checkbox" value="merge">&nbsp;Merge</input>
						<input class="pull-right" type="submit" value="Import" />
					</form>
				</div>
			</div>
			<div class="span4">
				{{ msg }}
			</div>
		</div>
		<h1>But Before You Import...</h1>
		<div class="row">
			<div class="span6">	
				<p>It's important to ensure that your XML file conforms to our XSD schema. 
					If you follow the checklist to the right, everything should be okay.
					Click on each item for more details.
				</p>
			</div>
			<div class="span6">
				<h4>Pre-Import Checklist</h4>
				<ol>
					<li><a href="#structure">Properly Structure Your XML</a>
					<li><a href="#idrefs">Check Your IDs and IDREFS</a></li>
					<li><a href="#">Use special values for unknown data fields</a></li>
				</ol>
			</div>
		</div>
		
		<h2><a class="anchor" id="structure">Propery Structure Your XML</a></h2>
		<div class="row">
			<div class="span12">
				<p>Your XML file should be structured according the XSD schema.
				We have an example XML file below, with more commentary and details to the side.
				However, if you want to see our precise schema, you can find it <a href="#">here</a>. Be warned though, it's kind of hard to read.</p>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<pre class="prettyprint linenums">
&lt;worldCrises&gt;
	&lt;crisis&gt;
		...
	&lt;/crisis&gt;
	&lt;organization&gt;
		...
	&lt;/organization&gt;
	&lt;person&gt;
		...
	&lt;/person&gt;
&lt;/worldCrises&gt;
				</pre>
			</div>
			<div class="span6">
				<p><h3>World Crises</h3>Your XML file should start and end with a <code>&lt;worldCrises&gt;</code> tag.
					Underneath, there needs to be a sequence of three tags: 
					<ul>
						<li><code>&lt;crisis&gt;</code></li>
						<li><code>&lt;organization&gt;</code></li>
						<li><code>&lt;person&gt;</code></li>
					</ul>
					You need at least one of each tag, 
					and they should all be grouped together in that order.
				</p>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<p><h3>Crisis</h3>
					blasdfasdf
				</p>
			</div>
			<div class="span6">
				<pre class="prettyprint linenums">
&lt;crisis id="id_name"&gt;
	&lt;name&gt;
	&lt;info&gt;
				</pre>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<pre class="prettyprint linenums">
&lt;worldCrises&gt;
    &lt;crisis id="id_name"&gt;
        &lt;name&gt;
        &lt;info&gt;
            &lt;history&gt;...&lt;/history&gt;
            &lt;help&gt;...&lt;/help&gt;
            &lt;resources&gt;...&lt;/resources&gt;
            &lt;type&gt;...&lt;/type&gt;
            &lt;time&gt;
                &lt;time&gt;...&lt;/time&gt;
                &lt;day&gt;...&lt;/day&gt;
                &lt;month&gt;...&lt;/month&gt;
                &lt;year&gt;...&lt;/year&gt;
                &lt;misc&gt;...&lt;/misc&gt;
            &lt;/time&gt;
            &lt;loc&gt;
                &lt;city&gt;...&lt;/city&gt;
                &lt;region&gt;...&lt;region&gt;
                &lt;country&gt;...&lt;country&gt;
            &lt;/loc&gt;
            &lt;impact&gt;
                &lt;human&gt;
                    &lt;deaths&gt;...&lt;/deaths&gt;
                    &lt;displaced&gt;...&lt;/displaced&gt;
                    &lt;injured&gt;...&lt;/injured&gt;
                    &lt;missing&gt;...&lt;/missing&gt;
                    &lt;misc&gt;...&lt;misc&gt;
                &lt;/human&gt;
                &lt;economic&gt;
                    &lt;amount&gt;...&lt;/amount&gt;
                    &lt;currency&gt;...&lt;/currency&gt;
                    &lt;misc&gt;...&lt;misc&gt;
                &lt;/economic&gt;
            &lt;/impact&gt;
        &lt;/info&gt;
		&lt;ref&gt;
			&lt;primaryImage&gt;
				&lt;site&gt;...&lt;/site&gt;
				&lt;url&gt;...&lt;url&gt;
				&lt;description&gt;...&lt;/description&gt;
			&lt;/primaryImage&gt;
			&lt;image&gt;
				&lt;site&gt;...&lt;/site&gt;
				&lt;url&gt;...&lt;url&gt;
				&lt;description&gt;...&lt;/description&gt;
			&lt;/image&gt;
			&lt;video&gt;
				&lt;site&gt;...&lt;/site&gt;
				&lt;url&gt;...&lt;url&gt;
				&lt;description&gt;...&lt;/description&gt;
			&lt;/video&gt;
			&lt;social&gt;
				&lt;site&gt;...&lt;/site&gt;
				&lt;url&gt;...&lt;url&gt;
				&lt;description&gt;...&lt;/description&gt;
			&lt;/social&gt;
			&lt;ext&gt;
				&lt;site&gt;...&lt;/site&gt;
				&lt;url&gt;...&lt;url&gt;
				&lt;description&gt;...&lt;/description&gt;
			&lt;/ext&gt;
		&lt;/ref&gt;
		&lt;misc&gt;...&lt;/misc&gt;
		&lt;org&gt;
		&lt;&gt;
		&lt;&gt;
		
    &lt;/crisis&gt;
&lt;/worldCrises&gt;</pre>
			</div>
			<div class="span6">
			
			</div>
		</div>
		
		<div class="row">
			<div class="span12">
				<h2><a class="anchor" id="idrefs">Check Your IDs and IDREFs</a></h2>
				<p>If you're adding to pages that already exist, it is <em>imperative</em> 
					that you label each Crisis, Organization, or Person with the correct ID,
					and any related pages with the correct IDREF. Below is a list of all of our
					pages, along with their IDs. Make sure they match!
				</p>
				<table class="table table-striped table-bordered table-condensed">
					<thead>
						<tr>
							<th>Page Name</th>
							<th>ID</th>
						</tr>
					</thead>
					<tbody>
						{% for page in pages %}
						<tr>
							<td>{{ page.name }}</td>
							<td>{{ page.ID }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</section>
</div>
<script type="text/javascript" src="static/misc/prettify.js"></script>
<script>
	$(window).load(prettyPrint()) 
</script>
{% endblock %}
