{% extends "_base.html" %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="span8 offset2">
			<div id="myCarousel" class="carousel slide">
				<div class="carousel-inner">
					<div class="item active">
						<img src="http://placehold.it/770x343" alt="alt 1"/>
						<div class="carousel-caption">
							<h4>First Image</h4>
							<p>This is a thing!</p>
						</div>
					</div>
					<div class="item">
						<img src="http://placehold.it/770x343" alt="alt 2"/>
						<div class="carousel-caption">
							<h4>Second Image</h4>
							<p>This is bad!</p>
						</div>
					</div>
				</div>
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="span4">
			<h2>Crises</h2>
			<p>Bad things are happening around the world! Please help us!</p>
		</div>
		<div class="span4">
			<h2>Organizations</h2>
			<p>Together, anything is possible! Take a look at these groups!</p>
		</div>
		<div class="span4" >
			<h2>People</h2>
			<p>The individuals who serve and inspire humanity. They have something to say!</p>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="span12">
			<div style="width: 360px; margin: 10px auto 0;">
				<blockquote >
					<p>If you wanna make the world a better place<br/>Take a look at yourself, and then make a change</p>
					<small>Michael Jackson</small>
				</blockquote>
			</div>
			<p style="text-align: center;">
				<button class="btn">Donate!</button>
			</p>
		</div>
	</div>
	<hr/>
	<footer>
		<div class="row">
			<div class="span12">
				<p class="pull-right">Special thanks to Twitter Bootstrap</p>
				<p>Made by <em>All The Single Ladies</em>:</p>
				<p>Robert Reed, Ian Buitrago, Ross Shwarts, Fayz Rahman, Jacob Wilke</p>
			</div>
		</div>
	<footer>
</div>
{% endblock %}