{% extends "_base.html" %}
{% block body %}
<div class="container">
	<div class="row">
		<ul class="thumbnails">
			{% for top in topimgs %}
			<li class="span3">
				<a class="thumbnail" href="/entry?name={{ top.name }}">
					<img src="{{ top.reflink.primaryImage.url }}"/>
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>

	<div class="row">
		<div class="span4">
			<h2>Crises</h2>
			<p>All around the world, for one reason or another, people are suffering. Learn what's happening and how to help.</p>
			<a class="btn" href="/crises">View Crises</a>
		</div>
		<div class="span4">
			<h2>Organizations</h2>
			<p>Together, anything is possible. Take a closer look at the organizations affecting the world.</p>
			<a class="btn" href="/organizations">View Organizations</a>
		</div>
		<div class="span4" >
			<h2>People</h2>
			<p>Though it may not seem like it, one person <em>can</em> make an impact on the world. Take a look at the people changing the world.</p>
			<a class="btn" href="/people">View People</a>
		</div>
	</div>
	<br/>
	<br/>
	<hr/>
	<div class="row">
		<div class="span12">
			<footer>
				<p class="pull-right">Special thanks to Twitter Bootstrap</p>
				<p>Made by <em>All The Single Ladies</em>:</p>
				<p>Robert Reed, Ian Buitrago, Ross Shwarts, Fayz Rahman, Jacob Wilke</p>
			</footer>	
		</div>
	</div>
</div>
{% endblock %}