{% extends "_base.html" %}
{% block head %}<title>Data</title>{% endblock %}
{% block body %}
	<div class="container">
		<header>
			<h1>{{ org.name }}
				<small> {{ org.orginfo.otype }}</small>
			</h1>
		</header>
		<section>
			<div class="row">
				<div class="span4">
					<a class="thumbnail" href="{{ org.reflink.primaryImage.url }}">
						<img src="{{ org.reflink.primaryImage.url }}"/>
					</a>
					<table class="table table-striped table-bordered">
						<tbody>
							<tr>
								<td><strong>Location</strong></td>
								<td>{{ org.orginfo.location.city }}, {{ org.orginfo.location.region }}, {{ org.orginfo.location.country }}</td>
							</tr>
							<tr>
								<td colspan="2"><strong>Contact Info</strong></td>
							</tr>
							<tr>
								<td>Address</td>
								<td>
									{{ org.orginfo.contacts.address.address }}<br/>
									{{ org.orginfo.contacts.address.city }} {{ org.orginfo.contacts.address.state }} {{ org.orginfo.contacts.address.zipcode }}</br>
									{{ org.orginfo.contacts.address.country }}
								</td>
							</tr>
							<tr>
								<td>Phone</td>
								<td>{{ org.orginfo.contacts.phone }}</td>
							</tr>
							<tr>
								<td>Email</td>
								<td>{{ org.orginfo.contacts.email }}</td>
							</tr>
							<tr>
								<td><strong>Social Networks</strong></td>
								<td>
									{% for s in social %}
										<a href="{{ s.url }}">{{ s.site }}</a><br/>
									{% endfor %}
								</td>
							</tr>
							<tr>
								<td><strong>External Links</strong></td>
								<td>
									{% for e in external %}
										<a href="{{ e.url }}">{{ e.description }}</a><br/>
									{% endfor %}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="span8">
					<h1>History</h1>
					<p>
						{{ org.orginfo.history }}
					</p>
					<hr/>
					<h1>Images</h1>
					<p>
						<ul class="thumbnails">
							{% for image in images %}
							<li class="span2">
								<a class="thumbnail" href="{{ image.url }}">
									<img src="{{ image.url }}"/>
								</a>
							</li>
							{% endfor %}
						</ul>
					</p>
					<hr/>
					<h1>Videos</h1>
					<p>
						<ul class="unstyled">
							{% for video in videos %}
							<li>
								{{ video }}
							</li>	
							{% endfor %}
						</ul>
					</p>
				</div>
			</div>
		</section>
		<section>
			<hr/>
			<div class="row">
				<div class="span6">
					<div class="pull-left">
						<h2>Related Crises</h2>
						<ul class="unstyled">
							{% for reference in crefs %}
							<li>
								<h3>
									&lt;
									<a href="/entry?name={{ reference.ref.name }}">{{ reference.ref.name }}</a>
								</h3>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<div class="span6">
					<div class="pull-right">
						<h2>Related People</h2>
						<ul class="unstyled">
							{% for reference in prefs %}
							<li>
								<h3>
									<a href="/entry?name={{ reference.ref.name }}">{{ reference.ref.name }}</a>
									&gt;
								</h3>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</section>
	</div>
{% endblock %}