{% extends "_base.html" %}
{% block head %}<title>Organizations</title>{% endblock %}
{% block body %}
<div class="container">
	<header>
		<h1>Organizations <small>Affecting the world</small></h1>
	</header>
	<section id="featuredOrganizations">
		<ul class="thumbnails">
			<li class="span3">
				<a href="#" class="thumbnail">
					<img src="http://placehold.it/260x180" alt="">
				</a>
			</li>
			<li class="span3">
				<a href="#" class="thumbnail">
					<img src="http://placehold.it/260x180" alt="">
				</a>
			</li>
			<li class="span3">
				<a href="#" class="thumbnail">
					<img src="http://placehold.it/260x180" alt="">
				</a>
			</li>
			<li class="span3">
				<a href="#" class="thumbnail">
					<img src="http://placehold.it/260x180" alt="">
				</a>
			</li>
		</ul>
	</section>
	<section id="OrganizationsList">
		<h1>On File:</h1>
		<ul class="entries">
			{% for org in orgs_list %}
				<li>
					<a href="#">
						<h1>{{ org.name }}
							<small> {{org.orginfo.location.city}}, {{org.orginfo.location.region}}, {{org.orginfo.location.country}}</small>
						</h1>
					</a>
					{{org.orginfo.otype}}
				</li>
			{% endfor %}
		</ul>
	</section>
</div>
{% endblock %}