{% extends "_base.html" %}
{% block head %}<title>Organizations</title>{% endblock %}
{% block body %}
<div class="container">
	<header>
		<h1>Organizations <small>Affecting the world</small></h1>
	</header>
	<section id="featuredOrganizations">
		<ul class="thumbnails">
			{% for org in orgs_list %}
			<li class="span3">
				<a href="/entry?id={{ org.ID }}" class="thumbnail">
					<img src="{{ org.reflink.primaryImage.url }}">
				</a>
			</li>
			{% endfor %}
		</ul>
	</section>
	<section id="OrganizationsList">
		<h1>All Entries</h1>
		<ul class="entries">
			{% for org in orgs_list %}
				<li>
					<a href="/entry?id={{ org.ID }}">
						<h1>{{ org.name }}
							<small> {{org.orginfo.otype}}</small>
						</h1>
					<span>{{org.orginfo.location.city}}, {{org.orginfo.location.region}}, {{org.orginfo.location.country}}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</section>
	<div class="pagination pagination-centered">
		<ul>
		{% for page in pagenav%}
			{{ page }}
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}