{% extends "_base.html" %}
{% block head %}<title>People</title>{% endblock %}
{% block body %}
<div class="container">
	<header>
		<h1>People <small>Changing the world</small></h1>
	</header>
	<section id="featuredPeople">
		<ul class="thumbnails">
			{% for person in people_list %}
			<li class="span3">
				<a href="/entry?id={{ person.ID }}" class="thumbnail">
					<img src="{{ person.reflink.primaryImage.url }}" alt="">
				</a>
			</li>
			{% endfor %}
		</ul>
	</section>
	<section id="peopleList">
		<h2>All Entries</h2>
		<ul class="entries">
			{% for person in people_list %}
				<li>
					<a href="/entry?id={{ person.ID }}">
						<h1>{{ person.name }}
							<small> {{person.personinfo.ptype}}</small>
						</h1>
						<span>{{person.personinfo.nationality}}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</section>
	<div class="pagination pagination-centered">
		<ul>
		{% for page in pagenav%}
			{{ page }}
		{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}