{% extends "_base.html" %}
{% block head %}<title>People</title>{% endblock %}
{% block body %}
<div class="container">
	<header>
		<h1>People <small>Changing the world</small></h1>
	</header>
	<section id="featuredPeople">
		<ul class="thumbnails">
			<li class="span3">
				<a href="#" class="thumbnail">
					<img src="http://placehold.it/260x180" alt="">
				</a>
			</li>
			<li class="span3">
				<a href="#" class="thumbnail">
					<img src="http://placehold.it/260x180" alt="">
				</a>
			</li>
			<li class="span3">
				<a href="#" class="thumbnail">
					<img src="http://placehold.it/260x180" alt="">
				</a>
			</li>
			<li class="span3">
				<a href="#" class="thumbnail">
					<img src="http://placehold.it/260x180" alt="">
				</a>
			</li>
		</ul>
	</section>
	<section id="peopleList">
		<h2>On File:</h2>
		<ul>
			<li>Person 1</li>
			<li>Person 2</li>
			<li>Person 3</li>
			<li>Person 4</li>
		</ul>
	</section>
</div>
{% endblock %}