{% extends "_base.html" %}
{% block head %}<title>Search</title>{% endblock %}
{% block body %}
<div class="container">
	<header>
		<h1>Search</h1>
	</header>	
	<section> 
		<div class="row">
			<div class="span12">
				<form class="well form-inline" style="text-align: center;">
					<button type="submit" class="btn btn-primary">Search</button>
					<input type="text" name="name"> 
					<label>by</label>
					<select name="type" option="e">
						<option value="k">Keywords</option>
						<option value="e">Exact Match</option>
					</select>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="span12">
				<h1>Results for <small>{{ term }}</small></h1>
				{% ifequal results.number_found 0%}
					<h4>
						Sorry! No results were found!
					</h4>
				{% else %}
					<ul class="entries ">
						{% for result in results %}
						<li>
							<a href="/entry?id={{ result.doc_id }}">
								<h1>{{ result.fields.0.value }}
								</h1>
							</a>
							<p>{{ result.expressions.0}}</p>
						</li>
						{% endfor %}
					</ul>
				{% endifequal %}
				{% if results2 %}
				<h1>Results for <small>{{ term2 }}</small></h1> 
				<ul class="entries">
					{% for result in results2 %}
					<li>
						<a href="/entry?id={{ result.doc_id }}">
							<h1>{{ result.fields.0.value }}
							</h1>
						</a>
						<p>
							{% for res in result.expressions %}
								{{res.value}} ...
							{% endfor %}
						</p>
					</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
		</div>
	</section>
</div>
{% endblock %}